html, body
{
	background: #faf8ef;
	color: #343838;
	font-family: 'Gentium Book Basic', serif;
}

#score
{
	font-size: 40px;
	font-weight: bold;
}

#topright
{
	font-size: 18px;
}

#topright-button
{
	background: #8f7a66;
	color: #f9f6f2;
}

#overlay
{
	background: rgba(250, 248, 239, 0.8);
}

#grid
{
	background: #e5e5e2;
}

#bottombar
{
	font-size: 18px;
	color: #bbb;
}

.block
{
	font-size: 35px;
	font-weight: bold;
}

.block-2
{
	background: #f8ecc9;
}
.block-4
{
	background: #efc781;
}
.block-8
{
	background: #ff8c94;
}
.block-16
{
	background: #ffaaa6;
}
.block-32
{
	background: #ffd3b5;
}
.block-64
{
	background: #dcedc2;
}
.block-128
{
	background: #a8e6ce;
}
.block-256
{
	background: #00dffc;
}
.block-512
{
	background: #00b4cc;
}
.block-1024
{
	background: #008c9e;
}
.block-2048
{
	color: #ffffff;
	background: #005f6b;
}
.block-over
{
	color: #ffffff;
	background: #343838;
	font-size: 30px;
}

/* mobile settings */

@media screen and (max-width: 520px)
{
	#score
	{
		font-size: 34px;
	}

	#overlay
	{
		font-size: 34px;
	}

	.block
	{
		font-size: 24px;
	}
	
	.block-1024
	{
		font-size: 19px;
	}
	.block-2048
	{
		font-size: 19px;
	}
	.block-over
	{
	    font-size: 16px;
	}
}