html, body
{
  margin: 0;
  padding: 0;
  background: #faf8ef;
  color: #776e65;
  font-family: Arial, sans-serif;
}

#container
{
	position: relative;
	width: 500px;
	margin: 0px auto;
}

#topbar
{
	position: relative;
	height: 40px;
	margin-bottom: 10px;
	text-align: center;
}

#score
{
	display: inline-block;
	line-height: 40px;
	font-size: 40px;
	font-weight: bold;
}

#topright
{
	float: right;
	font-size: 18px;
	text-align: center;
}

#next-block
{
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 6px;
	visibility: hidden;
}

#topright-button
{
	display: inline-block;

	height: 40px;
	border-radius: 6px;
	background: #8f7a66;
	
	padding: 0 15px;
	
	color: #f9f6f2;
	line-height: 40px;

	cursor: pointer;
}

#overlay
{
	display: inline-block;
	margin: 300px auto;
	position: relative;
	height: 100px;
	
	left: 110%;
	transition: left 0.4s;
	
	padding: 0 20px;

	z-index: 100;

	border-radius: 20px;
	background: rgba(238, 228, 218, 0.73);

	line-height: 100px;
	font-size: 40px;
	font-weight: bold;
}

#grid
{
	position: relative;
	width: 500px;
	height: 700px;
	background: #bbada0;
	z-index: 0;
	overflow: hidden;

	text-align: center;
}

#fs
{
	margin-top: 10px;
	color: #bbb;
	font-size: 18px;
	text-align: center;
	cursor: pointer;
}

.block
{
	width: 100px;
	height: 100px;
	position: absolute;
	line-height: 100px;

	font-size: 55px;
	font-weight: bold;

	z-index: 2;
	cursor: default;

	transition: left 0.1s, top 0.1s;
}

.block .merging
{
	z-index: 1;
}

.block-2
{
	color: #776e65;
	background: #eee4da;
}
.block-4
{
	color: #776e65;
	background: #ede0c8;
}
.block-8
{
	color: #f9f6f2;
	background: #f2b179;
}
.block-16
{
	color: #f9f6f2;
	background: #f59563;
}
.block-32
{
	color: #f9f6f2;
	background: #f67c5f;
}
.block-64
{
	color: #f9f6f2;
	background: #f65e3b;
}
.block-128
{
	color: #f9f6f2;
	background: #edcf72;
	font-size: 45px;
}
.block-256
{
	color: #f9f6f2;
	background: #edcc61;
	font-size: 45px;
}
.block-512
{
	color: #f9f6f2;
	background: #edc850;
	font-size: 45px;
}
.block-1024
{
	color: #f9f6f2;
	background: #edc53f;
	font-size: 35px;
}
.block-2048
{
	color: #f9f6f2;
	background: #edc22e;
	font-size: 35px;
}
.block-over
{
	color: #f9f6f2;
	background: #3c3a32;
	font-size: 30px;
}

@keyframes bounce
{
    from {transform: scale(1);}
    to {transform: scale(1.2);}
}

.bouncing
{
	animation-name: bounce;
    animation-duration: 0.1s;
    animation-iteration-count: 2;
    animation-direction: alternate;

    z-index: 3;
}

/* mobile settings */

@media screen and (max-width: 520px)
{
	#container
	{
		width: 300px;
		margin: 0px auto;
	}

	#score
	{
		font-size: 34px;
	}

	#grid
	{
		position: relative;
		width: 300px;
		height: 420px;
	}

	#overlay
	{
		margin: 170px auto;
		height: 80px;
		
		line-height: 80px;
		font-size: 34px;
	}

	.block
	{
		width: 60px;
		height: 60px;
		line-height: 60px;

		font-size: 33px;
	}

	.block-128
	{
		font-size: 24px;
	}
	.block-256
	{
		font-size: 24px;
	}
	.block-512
	{
		font-size: 24px;
	}
	.block-1024
	{
		font-size: 19px;
	}
	.block-2048
	{
		font-size: 19px;
	}
	.block-over
	{
	    font-size: 16px;
	}
}