#grid
{
	position: absolute;
	width: 500px;
	height: 700px;
	background: #eee;
}

.block
{
	width: 100px;
	height: 100px;
	position: absolute;
	text-align: center;
	line-height: 100px;

	font-family: Arial, sans-serif;
	font-size: 55px;
	font-weight: bold;

	transition: left 0.1s, top 0.1s;
}

.block.block-2
{
	color: #776e65;
	background: #eee4da;
}
.block.block-4
{
	color: #776e65;
	background: #ede0c8;
}
.block.block-8
{
	color: #f9f6f2;
	background: #f2b179;
}
.block.block-16
{
	color: #f9f6f2;
	background: #f59563;
}
.block.block-32
{
	color: #f9f6f2;
	background: #f67c5f;
}
.block.block-64
{
	color: #f9f6f2;
	background: #f65e3b;
}
.block.block-128
{
	color: #f9f6f2;
	background: #edcf72;
	font-size: 45px;
}
.block.block-256
{
	color: #f9f6f2;
	background: #edcc61;
	font-size: 45px;
}
.block.block-512
{
	color: #f9f6f2;
	background: #edc850;
	font-size: 45px;
}
.block.block-1024
{
	color: #f9f6f2;
	background: #edc53f;
	font-size: 35px;
}
.block.block-2048
{
	color: #f9f6f2;
	background: #edc22e;
	font-size: 35px;
}